*:focus {outline: none;}

body {
  padding: 50px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image:url('bubblebg.jpg');
  
}

h1 {
	margin:10px;
}

p {
	margin: 10px;
}


#container {
	width:650px;
	height:350px;
	display:inline-block;
	border:solid 2px;
}

ul {
	list-style: none;
	padding:0;
}

li {
	display:inline-block;
}

.button {
	width:55px;
	height:55px;
	border-radius:100%;
	padding:25px;
	border:solid 2px;	
}

#reset {
	background-color:#07BFF2;
}

#collide {
	background-color: #F55BA0;
}

#collideoff {
	background-color:#EB911C;
}

#background {
	border-radius: 20px;
	padding:40px;
	width:650px;
	height:600px;
	background-color:rgba(94, 158, 65, 0.8);
}


